.caja1 {
  width: 250px;
  height: 200px;
  border: red solid 5px;
  background-color: lightgray;
  padding: 10px;
  margin: 25px;
}

.caja2 {
  width: 300px;
  height: 200px;
  border: green solid 7px;
  background-color: gray;
  color: white;
  margin: 0px;
}
