// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

@use "../abstracts" as abs;

html * {
  font-family: abs.$primary-font;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  margin: 0;
}

img {
  max-width: 100%;
}
