.banderas {
  background-color: #edecec;
  border: 1px solid #000;
  padding: 20px;
}

.banderas div {
  width: 30%;
  aspect-ratio: 1.4;
  border: 1px solid #000;
  display: inline-block;
  margin: 10px;
}

div.colombia {
  background-image: linear-gradient(
    yellow 33.3%,
    blue 33.3%,
    blue 66.6%,
    red 66.6%
  );
}

div.francia {
  background-image: linear-gradient(
    to right,
    red 33.3%,
    white 33.3%,
    white 66.3%,
    blue 66.6%
  );
}

div.italia {
  background-image: linear-gradient(
    to right,
    green 33.3%,
    white 33.3%,
    white 66.3%,
    red 66.6%
  );
}

div.alemania {
  color: white;
  background-image: linear-gradient(
    black 33.3%,
    red 33.3%,
    red 66.6%,
    yellow 66.6%
  );
}

div.polonia {
  background-image: linear-gradient(white 50%, red 50%);
}

div.japon {
  background-image: radial-gradient(circle at center, red 35%, white 35%);
}

.myHeader {
  border: 5px solid #000;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #51a7f8;
  background-image: url(../img/balloons.jpg);
  background-position: top, right;
  background-size: 100%;
  width: 350px;
}

.myHeader h2 {
  background-color: rgb(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.myHeader2 {
  width: 150px;
  border: 5px solid #4fadf0;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image:
    url(../img/star.png), url(../img/star.png), url(../img/star.png),
    url(../img/star.png);
  background-repeat: no-repeat;
  background-position:
    5px 50%,
    95% 50%,
    95% 25%,
    95% 75%;
  background-size: 25px, 25px, 25px, 25px;
}

.myHeader2 h2 {
  text-align: center;
  margin: 0;
}

.paginate {
  background-color: #bebebe;
  border: 1px solid #cbcbcb;
  padding: 10px;
}

.paginate span:nth-last-of-type(1) {
  float: right;
}
