@use "../abstracts" as abs;

.building {
  position: relative;
  .building01 {
    position: absolute;
    max-width: 385px;
    left: -197px;
    z-index: -1;
  }
  .building02 {
    position: absolute;
    left: 230px;
    max-width: 385px;
    z-index: -1;
  }
  .data {
    background-color: white;
    position: absolute;
    top: 420px;
    left: 248px;
    width: 300px;
    padding: 15px 25px 0px 25px;
    ul {
      @include abs.reset-list();
      display: block;
      width: 100%;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0px;
        border-bottom: 1px solid #eaeaea;

        .text-group {
          display: flex;
          align-items: center;
        }
        span {
          color: abs.$grey-color;
          margin-right: 25px;
          font-size: 15px;
        }
        img {
          margin-left: auto;
          width: 40px;
          height: auto;
        }
      }

      li:first-child {
        border-bottom: none;
        color: abs.$black-color;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
