@use "../abstracts" as abs;

.numbers {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  gap: 90px;

  &__number {
    text-align: center;
    h3 {
      font-size: 50px;
      font-weight: 400;
      margin: 0;
      color: abs.$black-color;
      text-align: start;
    }
    p {
      max-width: 100px;
      text-align: left;
      font-size: 16px;
      color: abs.$grey-color;
      line-height: 30px;
    }
  }
}
