ul.example1 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style: none;
  width: 300px;
  color: #ccc;
}

ul.example1 li {
  padding: 10px 20px;
}

ul.example1 li + li {
  border-top: 1px solid #e5e4e4;
}

ul.example1 a {
  color: #4e4e4e;
  text-decoration: none;
}
