// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Size proyect
$max-width-container: 1350px;

// Proyect Font
$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

/**
 * Basic styles for links and colors
 */

$black: #403c39;
$orange: #f38160;
$grey: #949494;
