// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//container
$max-width-container: 1400px;

// Primary Font
$primary-font: "Poppins", sans-serif;
$secondary-font: "Playfair Display", serif;

// Colors
$background01-color: #f5f5f5;
$background02-color: #dedad5;
$black-color: #424241;
$black-opacity-color: rgb(0, 0, 0, 0.5);
