body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.ejercicio01 {
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio01 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio02 {
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio02 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio02 > div.principal {
  grid-column: 1 / span 3;
}

div.ejercicio03 {
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio03 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio03 > div.header {
  grid-column: 1 / span 3;
}

div.ejercicio03 > div.sidebar {
  grid-row: 2 / span 2;
}

div.ejercicio04 {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio04 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio04 > div.header {
  grid-area: 1 / 1 / span 1 / span 3;
}

div.ejercicio04 > div.sidebar {
  grid-area: 2 / 1 / span 2 / span 1;
}

div.ejercicio05 {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio05 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio05 > div.header {
  grid-area: 1 / 1 / span 1 / span 3;
}

div.ejercicio05 > div.sidebar {
  grid-area: 1 / 4 / span 2 / span 1;
}

div.ejercicio06 {
  width: 450px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

div.ejercicio06 > div {
  background-color: #5f717d;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

div.ejercicio06 > div.celda1 {
  grid-column: 1 / span 3;
}

div.ejercicio06 > div.celda2 {
  grid-column: 4 / span 3;
}

div.ejercicio06 > div.celda3 {
  grid-column: 1 / span 2;
}

div.ejercicio06 > div.celda4 {
  grid-column: 3 / span 4;
}

div.ejercicio06 > div.celda5 {
  grid-column: 1 / span 6;
}
