// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts" as abs;

footer.footer-principal {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: abs.$dark-blue;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    @include abs.reset-list();
  }

  .button {
    background: abs.$gradient-blue-pink;
  }
}
