body {
  font-size: 16px;
  margin: 0;
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.drop > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
}

ul.dropdown a {
  background-color: black;
}

nav.drop > ul li a {
  display: block;
  background-color: #56a4e0;
  color: white;
  text-decoration: none;
  padding: 15px 35px;
  font-weight: 600;
}

nav.drop > ul > li > a:hover {
  background-color: black;
}

nav.drop > ul > li:hover ul.dropdown {
  visibility: visible;
  opacity: 1;
}

ul.dropdown a:hover {
  background-color: #56a4e0;
}

h3.text-1 {
  background-color: #6cfafc;
  font-size: 70px;
  color: white;
  padding: 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

h3.text-2 {
  background-color: #fff3cd;
  font-size: 70px;
  color: white;
  padding: 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  text-shadow: 3px 3px 0px rgb(0, 0, 0, 0.2);
}

h3.text-3 {
  background-color: #6cfafc;
  font-size: 70px;
  color: white;
  padding: 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  text-shadow:
    -4px 4px 0px rgb(0, 243, 243),
    -7px 7px 0px rgb(0, 214, 207),
    -10px 10px 0px rgb(0, 224, 232);
}

h3.text-4 {
  background-color: #fff3cd;
  font-size: 70px;
  color: white;
  padding: 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  text-shadow: 0px 12px 2px rgb(0, 0, 0, 0.2);
}

h3.text-5 {
  background-color: #222222;
  font-size: 70px;
  color: #161616;
  padding: 40px 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: min-content;
  text-shadow: 1px 2px 1px rgb(255, 255, 255, 0.1);
}
