// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Size proyect
$max-width-container: 1350px;

// Proyect Font
$primary-font: "Poppins", sans-serif;

// Color palette
$color-blue: #1a73e8;
$color-darkblue: #264065;
$color-cyan: #a9d6cb;
$color-gray: #909090;
$color-gray-light: #faf8f5;
