nav.flaticon img {
  width: 20px;
}

nav.google a:visited,
nav.google a {
  color: red;
}

nav.google a:hover {
  color: purple;
}

nav.fontawesome i {
  color: green;
}

nav.fontawesome i:hover {
  color: orange;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?luhyhs");
  src:
    url("fonts/icomoon.eot?luhyhs#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?luhyhs") format("truetype"),
    url("fonts/icomoon.woff?luhyhs") format("woff"),
    url("fonts/icomoon.svg?luhyhs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}

ul.menu a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

ul.menu a:visited {
  color: black;
}

ul.menu a:hover {
  opacity: 1;
}

@font-face {
  font-family: "icomoon-custome";
  src: url("fonts/icomoon-custome.eot?kedg9p");
  src:
    url("../icomoon-custome.eot?kedg9p#iefix") format("embedded-opentype"),
    url("../icomoon-custome.ttf?kedg9p") format("truetype"),
    url("../icomoon-custome.woff?kedg9p") format("woff"),
    url("../icomoon-custome.svg?kedg9p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconcustome-"],
[class*=" iconcustome-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-custome" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcustome-beach:before {
  content: "\e900";
}
.iconcustome-facebook:before {
  content: "\e901";
}
.iconcustome-travel:before {
  content: "\e902";
}
.iconcustome-musica:before {
  content: "\e903";
}
.iconcustome-Union:before {
  content: "\e904";
}
