// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colors Proyect
$blue-light: #666ca3;
$blue: #4851ff;
$dark-blue: #13183f;
$grey: #83869a;
$pink: #ffa7c3;
$dark-pink: #f74780;
$white: #ffffff;
$orange: #ff6f48;
$magenta: #f02aa6;

$gradient-main: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);

$gradient-orange-pink: linear-gradient(180deg, $orange 0.04%, $magenta 100%);
$gradient-blue-pink: linear-gradient(180deg, $blue 0%, $magenta 99.92%);

// Font
$primary-font: "Plus Jakarta Sans", sans-serif;
